h1 {
  color: green;
  font-style: italic;
}

.note {
  color: gray;
  padding-top: 7px;
  font-size: 15px;
}

.error {
  color: rgb(255, 98, 98);
  background-color: rgb(180, 177, 177);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
